/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que el navbar esté encima del contenido */
}

.model-viewer-container {
  margin-top: 50px;
  height:80vh; 
  background-color: gray;
}
