.canvas-container {
  width: 100%;
  height: 100%;
}

/* App.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.header {
  padding: 20px;
  background: #282c34;
  color: white;
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Evita el desbordamiento */
}

.text-container, .model-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text-container {
  background-color: #fff;
}

.model-container {
  background-color: #fff; /* Color de fondo opcional */
}

.footer {
  padding: 10px;
  background: #282c34;
  color: white;
  text-align: center;
}
